<div class="scrollable">
  <table>
    <tbody>
      <tr>
        <th><label for="network_id">Network ID: </label></th>
        <td><input type="input" id="network_id" value="<%- network_id %>"></td>
      </tr>
      <tr>
        <th><label for="network_name">Network Name: </label></th>
        <td><input type="input" id="network_name" value="<%- network_name %>"></td>
      </tr>
      <tr>
        <th><label for="network_group_id">Network Group ID: </label></th>
        <td><input type="input" id="network_group_id" value="<%- network_group_id %>"></td>
      </tr>
      <tr>
        <th><label for="network_group_name">Network Group Name: </label></th>
        <td><input type="input" id="network_group_name" value="<%- network_group_name %>"></td>
      </tr>
      <tr>
        <th><label for="network_filters">Network Filters: </label></th>
        <td><span id="network_filters" class="button glyphicon glyphicon-fire"></span></td>
      </tr>
      <tr>
        <th><label for="network_routes">Network Routes: </label></th>
        <td><span id="network_routes" class="button glyphicon glyphicon-retweet"></span></td>
      </tr>
      <tr>
        <th><label for="child_count">Children: </label></th>
        <td><input type="range" id="child_count" min="0" max="8" value="<%- child_count %>"></td>
      </tr>
    </tbody>
  </table>
</div>
