<div class="scrollable">
  <div>
    <label for="name">Name: </label>
    <input type="input" id="name" value="<%- name %>">
  </div>
  <div>
    <label for="description">Description: </label>
    <input type="input" id="description" value="<%- description %>">
  </div>
  <div>
    <label for="author">Author: </label>
    <input type="input" id="author" value="<%- author %>">
  </div>
  <div>
    <label for="date">Date: </label>
    <input type="input" id="date" value="<%- date %>">
  </div>
  <div>
    <label for="license">License: </label>
    <input type="input" id="license" value="<%- license %>">
  </div>
</div>

